@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-container {
    width: 250px;
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    transition: all 0.8s ease;
    
    & > button > div {
        &:hover {
            background-color: rgb(242, 242, 242);
        }

        &.active {
            background-color: rgb(242, 242, 242);
        }
    }
}

.chat-wrapper {
    background-color: rgba(124, 162, 118, 0.7);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;

    & .chat-icon {
        border-radius: 50%;
        width: 40px;
        height: 40px;

        & > img {
            width: 100%;
            height: 100%;
            
        }
    }

    & .chat-content {
        position: relative;
        left: 50px;
        border-radius: 10px;
        padding: 10px;
        max-width: 300px;
        min-width: 150px;
        background-color: white;

        & > p:last-child {
            position: absolute;
            right: 5px;
            bottom: 5px;
        }
    }
}